# Server & Database Configuration
PORT=3000
FRONTEND_URL=
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=
DB_NAME=abha_db
DB_PORT=5432

# PhonePe PG Configuration (Server-side)
PHONEPE_CLIENT_ID=
PHONEPE_CLIENT_SECRET=
PHONEPE_CLIENT_VERSION=1
PHONEPE_ENV=SANDBOX

# Client-side PhonePe Config
VITE_PHONEPE_CLIENT_ID=
VITE_PHONEPE_CLIENT_SECRET=
VITE_PHONEPE_CLIENT_VERSION=1
VITE_PHONEPE_ENV=SANDBOX

# Supabase Configuration
VITE_SUPABASE_URL=https://xuidwdgohquxumadqbye.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_MGAPggPUqcE9325O4rMHUg_0K0BQwL1

